@-webkit-keyframes fade-in {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-moz-keyframes fade-in {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-o-keyframes fade-in {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

html { font-size: 14px; }

::selection {

}

::-moz-selection {

}

body { 
  background-color: #fbfbfb; 
  font-family: 'Noto Serif', serif;
}

#wrapper {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -moz-animation-name: fade-in;
  -moz-animation-duration: 0.5s;
  -o-animation-name: fade-in;
  -o-animation-duration: 0.5s;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

h1 {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  text-rendering: geometricPrecision;
}

a:link, a:visited {
  color: #222;
  transition: all 0.15s;
  opacity: .7;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

a:hover {
  color: #FF0099;
  cursor: pointer;
  opacity: .9;
}

@media screen and (min-width: 320px) {

  #wrapper {
    width: 100%;
  }

  h1 { font-size: .9rem; }

  a:link, a:visited {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 480px) {

  #wrapper {
    width: 320px;
  }
  h1 { font-size: 1.3rem; }

  a:link, a:visited {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 600px) {
  #wrapper {
    width: 480px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -125px 0 0 -240px;
  }

  h1 { font-size: 1.6rem; }

  a:link, a:visited {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  #wrapper {
    width: 600px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -300px;
  }
  h1 { font-size: 1.8rem; }

  a:link, a:visited {
    font-size: 2rem;
  }
}

ul {

}

li {

}

h1 {

}

p { 

}


.promo {

}

i { margin-left: 3px; }

span i {
  opacity: .9;
  margin-right: 5px;
}